/* Reset and general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}



/* TOP SECTION */

.top-section {
  height: calc(100vh - 120px);
  display: flex;
}


/* HEADER */

header {
  width: calc(100% - 240px);
  background-color: rgba(10, 10, 10, 0.5);
  height: 120px;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

/* ASIDE */

aside {
  display: inline-block;
  width: 240px;
  background-color: black;
  height: 100%;
  /*  */
  color: white;
}



/* MAIN */

main {
  width: calc(100% - 240px);
  background-color: #141922;
  overflow:auto;
  padding: 0 20px;
  padding-top: 130px;
  color: white;
}


.btn {
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 99999px;
}













/* FOOTER */

footer {
  height: 120px;
  background-color: #282828;
  /*  */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-left, .footer-right {
  height: inherit;
  width: 15%;
  background-color: red;
}

.footer-center {
  height: inherit;
  width: 50%;
  background-color: green;
}