/* Reset and general */


:root {
  --header-height: 120px;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}


/* UTILITIES */

.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.current {
  box-shadow: 
  -15px 0 0 0 black,
  -20px 0px 0px 0px green;
  color: white;
}

/* TOP SECTION */

.top-section {
  height: calc(100vh - 120px);
  display: flex;
}


/* HEADER */

header {
  width: calc(100% - 240px);
  background-color: rgba(10, 10, 10, 0.5);
  height: var(--header-height);
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

/* ASIDE */

aside {
  display: inline-block;
  width: 240px;
  background-color: black;
  height: 100%;
  /*  */
  color: white;
}

aside img {
  width: 180px;
}

.logo {
  height: var(--header-height);
}

.aside-main {
  height: calc(100% - var(--header-height));
  /* padding: 0 25px; */
}

.aside-main img {
  width: 30px;
  vertical-align: middle;
}

.aside-top, .aside-bottom{
  padding: 0 20px;
}

/* MAIN */

main {
  width: calc(100% - 240px);
  background-color: #141922;
  overflow:auto;
  padding: 0 20px;
  padding-top: calc(var(--header-height) + 10px);
  color: white;
}


.btn {
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 99999px;
}













/* FOOTER */

footer {
  height: var(--header-height);
  background-color: #282828;
  /*  */
  color: white;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-left, .footer-right {
  height: inherit;
  width: 15%;
  background-color: red;
}

.footer-center {
  height: inherit;
  width: 50%;
  background-color: green;
}